.logo {
  margin: 5vh 0 4vh 0;
  img{
    height: 15vh;
  }
}


.signup {
  --background: linear-gradient(135deg, #4a90e2, #6030ff);
  --border-radius: 15px;
  text-transform: none;
}

/* ion-header{
  ion-toolbar{
    --background: var(--ion-background-color);



  }
} */
