<ion-content [fullscreen]="true">
  <ion-list lines="none">
      <ion-list-header class="ion-margin-vertical">
          Reset Password
      </ion-list-header>

      <form [formGroup]="fpForm">
        <ion-row>

          <ion-col size="9"  offset="1">
            <ion-input placeholder="Email" type="email"
            formControlName="email" errorText="*Please enter your email">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
          </ion-input>
          </ion-col>

          <ion-col size="2" class="ion-text-center">

            @if(!isFp()){

              <ion-button [strong]="true" (click)="onSubmit()" size="small">
              <ion-icon slot="icon-only" name="checkmark-outline" color="light"></ion-icon>
            </ion-button>

            }@else {

              <ion-button [strong]="true" size="small">
              <ion-spinner name="crescent" color="light"></ion-spinner>
            </ion-button>
            }

          </ion-col>

        </ion-row>


      </form>
  </ion-list>



</ion-content>
