ion-list {
  background: transparent;
  ion-row {
    margin: 4vh 1vh 1vh 1vh;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    ion-button{
      width: 4vh;
      height: 4vh;
      --border-radius: 50px;
      --background: linear-gradient(135deg, #4a90e2, #6030ff);
    }

    ion-input{
      font-size: 1rem;
      ion-icon{
        font-size: 1.2rem;
      }
    }
  }
}
